<footer>
    <div class="footer-wrap">
        <div class="footer-group">
            <h3 class="footer-group-title">Your Settings</h3>
            <ul class="footer-list">
                <li class="item"> 
                    <a href="/settings">Your Profile</a>
                </li>
                <li class="item">
                    <a href="/settings/a11y">Accessibility</a>
                </li>
                <li class="item">
                    <a href="/settings/offline">Offline</a>
                </li>
                <li class="item">
                    <a href="/settings/notifications">Notifications</a>
                </li>
            </ul>
        </div>
        <div class="footer-group">
            <h3 class="footer-group-title">Information</h3>
            <ul class="footer-list">
                <li class="item">
                    <a href="/privacy">Privacy</a>
                </li>
                <li class="item">
                    <a href="/cookies">Cookies</a>
                </li>
                <li class="item">
                    <a href="terms">Terms of Use</a>
                </li>
            </ul>
        </div>
        <div class="footer-group">
            <h3 class="footer-group-title">Key Links</h3>
            <ul class="footer-list">
                <li class="item">
                    <a href="/sitemap">Sitemap</a>
                </li>
                <li class="item">
                    <a href="/blog">Blog</a>
                </li>
                <li class="item">
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
