<header class="header" role="banner">
    <div class="header-container container">
        <a href="https://kraig.app" class="logo" itemprop="url">
            <h1 class="nav-title">K<span class="e">raig </span>W<span class="e">alker</span></h1>
        </a>
        <nav class="header-nav">
            <ul class="nav-list">
                <li class="item">
                    <a class="link" href="/blog">Blog</a>
                </li>
                <li class="item">
                    <a class="link" href="/work">Work</a>
                </li>
                <li class="item">
                    <a class="link" href="/contact">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</header>