html{
    font-family: -apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",sans-serif;
    font-size:100%;
    font-size:1em
}
body{
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    margin:0;
}
p{
    color:#222;
    line-height:1.5
}
.input-email {
    font-size: 18px;
    margin: 0 25px 0 0;
    padding: 16px 20px;
    border: 1px solid #f2f2f2;
    font-weight: 300;
}
.skip{
    position:absolute;
    top:0;
    right:100%
}
.skip:focus{
    right:auto;
}
main{
    background:#eee;
}
[href^="http"]:not([href*="kraig.app"])::after{
    display:inline-block;
    width:1em;
    height:1em;
    background-image:url('/img/ico-ex.svg');
    background-repeat:no-repeat;
    background-position:center;
    background-size:75% auto;
    content:('external link');
    overflow:hidden;
    white-space:nowrap;
    text-indent:1em;
}
@media(max-width:60em){html{font-size:80%;}}

.footer-group {
    display: block;
    float: left;
    min-height: 1px;
    padding: 0 12px;
    width: 16.6666666667%;
    zoom: 1;
}
.footer-group.--lg {
    width: 33.3333333334%;
}
.footer-list {
    list-style: none;
    padding: 0;
}